@import "./custom-varilables.sass"

$semi-dark: rgba(16 ,20 ,29 , .58) !important
$dark-primary: #1a202c

.dark-mode
  color: $white-bis
  background-color: $dark-primary

  .is-dark-primary
    background-color: $dark-primary
    color: $white-bis
  input::placeholder
    color: $white-ter
  .content.is-medium
    padding: 3rem
    background-color: $semi-dark
  
  .has-background-white-bis
    background-color: $semi-dark

  .title, .subtitle, strong, .label
    color: $white-bis
  .footer
    background-color: $semi-dark
  main a:hover, 
  .content a:hover,
    color: $warning
  blockquote
    background-color: $semi-dark
    color: $warning
    border-color: $warning
  .tag
    border: 1px solid $warning
    color: $white-ter
    &:hover
      background-color: transparent

  .tag-warning:hover
    color: $warning

  h1, h2, h3, h4, h5, h6
    color: $white
  strong
    color: $warning

@supports (background-blend-mode: multiply)
  .dark-mode
    background-blend-mode: multiply

// @supports (backdrop-filter: blur(7px))
//   .dark-mode
//     .content.is-medium,
//     .has-background-white-bis
//       background-color: rgba(rgb(10, 10, 10), .6) !important
//       // backdrop-filter: blur(7px)

+mobile
  .dark-mode
    .content.is-medium
      padding: 0

