@import "./custom-varilables.sass";

.dark-mode
  color: $white-bis
  background-color: $black-ter

  .has-background-white-bis
    background-color: $grey-darker !important
  .tag
    background-color: $black
    color: $white-bis
  .title, .subtitle, strong, .label
    color: $white-bis
  .footer
    background-color: $black-ter
  main a:hover,
    color: $white-bis
    border-bottom: 1px solid
  footer a:hover
    color: $white-bis
  h1, h2, h3, h4, h5, h6
    color: $white