---
import { Section } from '@/components/Section';
import { Hero } from '@/partials/Hero';
import { ProjectList } from '@/partials/ProjectList';
import { RecentPosts } from '@/partials/RecentPosts';
import TechStack from '@/partials/TechStack.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import type { OrizensPostFrontMatter } from '@/utils/Posts';
import { sortByDate } from '@/utils/Posts';

const allPosts = await Astro.glob<OrizensPostFrontMatter>('./blog/*.md');
const sortedPosts = sortByDate(allPosts);

const lastThreePosts = sortedPosts.slice(0, 6);

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description, og: { image: '/images/galaxy-map.jpg' } }}>
  <Hero />
  <RecentPosts postList={lastThreePosts} />
  <ProjectList className='px-6' />
  <Section>
    <TechStack />
  </Section>
</Base>
