.orizens-logo
  height: 7rem
  width: 5rem
  display: inline-block
  float: left
  line-height: 6rem
  flex: 1

.orizens-logo a
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
  font-size: 2rem
  color: $white
  font-family: 'Quicksand'

.orizens-logo .enso
  height: 4rem
  width: 4rem
  vertical-align: middle
  line-height: 2rem
  margin-right: 4px
  mix-blend-mode: difference

#logo
  text-align: center
  position: relative

  .promo
    width: 60%
    margin: 0 auto
    padding: 0rem

  .main-logo
    display: block
    height: 300px
    background: $logo no-repeat center
    background-size: contain
    mix-blend-mode: color-dodge

  .main-tagline
    color: $white
    margin-top: $size-3

  .tagline
    color: $white

  @media (min-width: 360px)
    .btn-consulting-package
      display: none
    
  @media (min-width: 768px)
    .btn-consulting-package
      display: block
      text-transform: capitalize
      margin: 0 auto
      font-size: $size-5
      margin-bottom: $size-7
      font-weight: $weight-medium

      &:hover
        background-color: $white
        