// navbar
.site-header
  .single-featured
    max-height: $header-featured-image-height !important
  .entry-title 
    font-family: "Lora", serif
    font-style: italic

    a
      color: $header-link-color
    
  section
    margin-bottom: 3rem