// navbar
.site-header
  .single-featured
    max-height: $header-featured-image-height !important
  .entry-title 
    font-family: "Lora", serif
    font-style: italic

    a
      color: $white
    
  section
    margin-bottom: 3rem

  .menu-item.dropdown
    display: block

  ul.nav li.dropdown:hover > ul.dropdown-menu
    display: flex
    flex-direction: column
    border-radius: 10px
    background-color: rgba(26, 25, 26, 0.3)
    padding: 0
    backdrop-filter: blur(5px)

  .dropdown-menu > li > a
    display: block
    padding: 10px 15px
    color: $white
    border-bottom: 1px solid #554b4a

    &:hover
      color: $link

  .navbar-nav > li > a
    padding-bottom: 18px

  .site-navigation-inner .navbar-collapse
    flex: 2
    align-self: center
    display: flex

@media (min-width: 768px)
  #menu-main-menu .menu-item.menu-item-has-children::after
    content: '\25BC'
    display: inline-block
    right: -12px
    font-size: 0.5rem
    color: $link
    bottom: 12px
    position: absolute