// Orizens Vars
$header-link-color: #b3afaf
$header-featured-image-height: 400px
$header-bg-image: url("../img/uploads/2017/12/wooden-texture-background_1112-287.jpg")
$header-bg-image-blend-mode: color