<script src='./pwa.ts'>

</script>
<div
  id='pwa-toast'
  role='alert'
  aria-labelledby='toast-message'
  class='inset-0 z-50 p-6 backdrop-blur-md'
>
  <section
    class='mx-auto max-w-lg rounded-lg border-primaryAlpha bg-primaryAlpha p-10'
  >
    <div class='mb-6 py-20 text-center'>
      <span id='toast-message' class='text-center text-3xl text-primary'>
      </span>
    </div>
    <div class='flex justify-center gap-4'>
      <button
        id='pwa-refresh'
        class='rounded-lg border-primary bg-primary p-3 text-xl text-teal-800'
      >
        Reload
      </button>
      <button
        id='pwa-close'
        class='rounded-lg border border-primary p-3 text-xl'
      >
        Close
      </button>
    </div>
  </section>
</div>

<style>
  #pwa-toast {
    display: none;
  }
  #pwa-toast.show {
    visibility: visible;
    position: fixed;
    display: block !important;
  }
  button#pwa-refresh {
    display: none;
  }
  #pwa-toast.show.refresh button#pwa-refresh {
    display: block;
  }
</style>
